* {
  box-sizing: border-box;
  line-height: normal;
}
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}
.ttt-code {
  min-height: 100%;
}

input:focus {
  outline: none;
}

ul li a {
  display: block;
}

/* scroll */
::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 5px;
}
